{{ form_start(form) }}
  <div class="form-outline mb-4">
        {{ form_widget(form.query) }}
      </div>
<div class="text-center pt-1 mb-5 pb-1">
      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" >Rechercher</button>

</div>
{{ form_end(form) }}